@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    box-sizing: border-box;
}


body{
    background-color: #ECF0F1;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.container{
   background-color:white;
   box-shadow: 3px 3px 5px gray;
   width: 400px;
   max-height: 100%;
}
  

form{
    margin: 8px 15px;
    margin-bottom: 16px;
}

 h1{
    text-align: center;
}

.formControl label{
    display: block;
}

.formControl input{
display: block;
width: 100%;
padding: 5px 4px;

}

.formControl input:focus{
    outline: none;
    border-color: #777;
}


